* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */


#lose-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}

#start-page {
  background-image: url("../img/startpage.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}

#start-page h1 {
  font-size: 50px;
  color: rgb(71, 5, 8);
  text-shadow: 0px 1px 5px rgb(213, 195, 140);
  border-bottom: 3px solid rgb(71, 5, 8);
  width: 50%;
  margin: 0 auto;
  
}

#start-page p {
  font-size: 20px;
  font-weight: 800;
  color: rgb(71, 5, 8);
  text-shadow: 0px 1px 3px rgb(179, 171, 148);
  background-color: rgb(189, 186, 175);
  opacity: 0.8;
  width: 50%;
  margin: 0 auto;
  
}




#win-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px; 
}

#win-page {
  display: none;
}

#lose-page {
  display: none;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url("../img/backgroundzombie.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}